@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Delius&family=Merienda:wght@300..900&family=Pacifico&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

.h1{
    color:rgb(3, 115, 184);
    font-family: 'Merienda';
    text-align: center;
    padding: 1%;
}

.h2{
    font-family: 'Merienda';
    color: rgb(3, 115, 184);
    text-align: center;
    padding: 1%;
    font-size: 20px;
  }

.texto{
    width: 95vw;
    margin: auto;
}

.p{
    font-size: 2.5vh;
    font-family: 'Courier New';
}
.p::first-letter {
    font-size: 3vh;
  }

.img{
    display: block;
    margin: auto;
    border-radius: 25px;
}

#caption{
    text-align: center;
    color: rgb(3, 115, 184);
    font-size: 3vh;
    max-height: 3vh;
    min-height: 2vh;
    font-family: 'Merienda';
    font-weight: bold;
    margin-bottom: 2%;
}
#table{
    border-collapse: collapse;
    border: solid, 1px, rgb(1, 1, 92);
    background-color: rgb(205, 227, 255);
    width: 50vw;
    height: 50vh;
    margin: auto;
    table-layout: fixed;
}
#thead{
    height: 2vh;
    background-color:  rgb(126, 181, 253);
}
.td{
    border: solid, 1px, rgb(1, 1, 92);
    text-align: center;
    font-size: 2vh;
    max-height: 2vh;
    min-height: 0.5vh;
    font-family: 'Courier New';
}
.th{ 
    border: solid, 1px, rgb(1, 1, 92);  
    font-family: 'Courier New';
    font-weight: bold;
}
#tabela{
    font-family: 'Papyrus' ;
    font-size: 2.5vh;
    max-height: 2vh;
    min-height: 2vh;
    font-weight: bold;
}
.tr{
    border: solid, 1px, rgb(1, 1, 92);
    font-size: 2vh;
    max-height: 3.5vh;
    min-height: 1.5vh;
}
#table .tr:nth-child(even){
    background-color:  rgb(161, 199, 249);
}

.iframe{
    height: 152px;
}


@media(max-width:600px){
    .texto{
        width: 80vw;
        font-size: 2vh;
        margin: auto;
    }
    .img{
        display: block;
        margin: auto;
        border-radius: 25px;
        width: 250px;
        height: 200px;
    }

    #table{
        width: 324px;
        height: 350px;
        margin: auto;
    }

    .iframe{
        width: 90%;
        height: 100px;
        display: block;
        margin: auto;
        padding-top: 5%;
    }
}