@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Delius&family=Merienda:wght@300..900&family=Pacifico&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

.h1{
    color:rgb(3, 115, 184);
    font-family: 'Merienda';
    text-align: center;
    padding: 1%;
}

.h5{
    text-align: center;
    font-family: 'Merienda';
    font-size: 15px;
    padding: 2%;
}

.imgalbum{
    width: 200px;
    height: auto;
    border-radius: 25px;
    margin: auto;
    display: block;
}
#card{
    display: flex;
    justify-content: center;
    gap: 1%;
}
#card2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1%;
    margin-bottom: 23vh;
}

.titulo{
    text-align: left;
    margin: 0%;
    font-family: 'Georgia';
}

.lu{
    font-family: 'Courier New';
}

@media(max-width:600px){
    .div1{
        margin-bottom: 5%;
    }
    #card2{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10%;
        margin-bottom: 0%;
    }
}